# Thank you SmokeyStack!

name: Update README

on:
  push:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

jobs:
  markscribe:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - uses: muesli/readme-scribe@master
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
        with:
          template: "README.gtpl"
          writeTo: "README.md"

      - name: Generate stats card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: username=NSPC911&show_icons=true
          path: profile/stats.svg
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}

      - name: Generate top languages card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: top-langs
          options: username=NSPC911&layout=compact&langs_count=3
          path: profile/top-langs.svg
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}

      - name: Generate pin card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: pin
          options: username=readme-tools&repo=github-readme-stats
          path: profile/pin-readme-tools-github-readme-stats.svg
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}

      - name: Commit and push changes
        run: |
          git config user.name "Readme Scribe"
          git config user.email "actions@github.com"
          git add --all
          git commit -m "[actions] Updated README.md"
          git pull origin main
          git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
